<template lang="html">
  <section>
    <swiper :options="swiperOption" ref="mySwiper" >
    <!-- slides -->
    <!-- @someSwiperEvent="callback" -->
    <swiper-slide><img src="http://via.placeholder.com/1450x500" alt="1"></swiper-slide>
    <swiper-slide><img src="http://via.placeholder.com/1450x500" alt="2"></swiper-slide>
    <swiper-slide><img src="http://via.placeholder.com/1450x500" alt="3"></swiper-slide>
    <swiper-slide><img src="http://via.placeholder.com/1450x500" alt="4"></swiper-slide>

    <!-- Optional controls -->
    <div class="swiper-pagination" slot="pagination"></div>
    <div class="swiper-button-prev"  slot="button-prev"></div>
    <div class="swiper-button-next"  slot="button-next"></div>

    </swiper>
  </section>
</template>

<script>
import '../../node_modules/swiper/dist/css/swiper.css'
import { swiper, swiperSlide } from 'vue-awesome-swiper'

export default {

  data: function(){
    return {
      swiperOption: {

          slidesPerView:1,
          speed:1300,
          loop:true,
          centeredSlides: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: false,
            hide:true
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            hideOnClick:true
          },
          autoplay: {
            delay: 5500,
            disableOnInteraction: false
          },
            



      }
    }
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper
    }
  },
  components:{
    swiper,
    swiperSlide
  },
  methods:{
    // next(){
    //   this.swiper.slideNext();
    // },
    // prev(){
    //   this.swiper.slidePrev();
    // }
  },
  mounted(){
    // this.$nextTick(function(){
    //   this.swiper.slideTo(3, 1000, false)
    // })
    //console.log(this.swiper);
  }
}
</script>

<style lang="css">
  .swiper-slide{
    min-width:100%;
  }
</style>
