<template lang="html">

    <header>
      <nav>
          <ul>
            <li> <a href="#"> <img src="http://via.placeholder.com/100x100"> </a> </li>
            <li> <a href="#">menu1</a> </li>
            <li> <a href="#">menu2</a> </li>
            <li> <a href="#">menu3</a> </li>
            <li> <a href="#">menu4</a> </li>
            <li> <a href="#">menu5</a> </li>


          </ul>
      </nav>
    </header>

</template>

<script>
export default {

}
</script>

<style lang="css">

nav{
  background-color: #8794A6;
  min-height: 100px;
  min-width: 100%;
  border-bottom: 10px solid;
  /* border-bottom: : 10px; */
  border-color: #A6ABB5;
}
ul{
  margin:0;
}
li{
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
}
a{
  display: block;
}
</style>
