<template lang="html">
    <section>
      <div class="wrapper">
          <div class="row">
              <div class="col">
                <img src="http://via.placeholder.com/100x100">
                <p>news1</p>
              </div>
              <div class="col">
                <img src="http://via.placeholder.com/100x100">
                <p>news2</p>
              </div>
              <div class="col">
                <img src="http://via.placeholder.com/100x100">
                <p>news3</p>
              </div>
              <div class="col">
                <img src="http://via.placeholder.com/100x100">
                <p>news3</p>
              </div>

          </div>
      </div>
    </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
  .wrapper{
    background-color: #2E528F;

  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
    flex-wrap: wrap;
  }
  .col {
    margin: 0 15px;
    background-color: #A6ABB5;
    padding: 5px;
    flex-grow: 1;
  }
  p{
    text-align: center;
  }
</style>
