<template>
  <div id="app">

    <headerApp/>
    <headerSlider/>
    <news/>
  </div>
</template>

<script>
import headerApp from './components/header'
import headerSlider from './components/headerSlider'
import news from './components/news'

export default {
  name: 'App',
  components: {
    headerApp,
    headerSlider,
    news
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin: 0;
}
body{

  margin:0;
}
</style>
